<tr class = "user">
    <td>Angeli Dianne Mata</td>
    <td>adiannem</td>
    <td>Regular User</td>
    <td><button class = "btn shadow-none" data-bs-toggle = "modal" data-bs-target = "#edit-account-status-modal"><img src = "/assets/check.png" alt = "approved" class = "edit-account-status"></button></td>
    <td><button class = "btn shadow-none" data-bs-toggle = "modal" data-bs-target = "#edit-account-role-modal"><img src = "/assets/pencil.png" alt = "edit-account" class = "edit-account-role"></button></td>
    <td><button class = "btn shadow-none" data-bs-toggle = "modal" data-bs-target = "#delete-account-modal"><img src = "/assets/bin.png" alt = "delete-account" class = "delete-account"></button></td>
</tr>