<tr class = "user">
    <td>Angeli Dianne Mata</td>
    <td>adiannem</td>
    <td>Regular User</td>
    <td><img src = "/assets/check.png" alt = "approved" class = "status-account"></td>
    <td><button class = "btn shadow-none status-account-btn"><img src = "/assets/pencil.png" alt = "edit" class = "edit-account-status"></button></td>
</tr>