<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1">
        <title>Edit Transaction</title>

        <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel = "stylesheet">       
        <link href = "https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href = "/css/style.css" rel = "stylesheet">

        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body class = "bg-home">
        <!-- as of now, its set to non-admin ung nav, but admin should be included -->
        {{>navbar adminflag = false home-page = true account-page = false}}

        <div class = "m-4">
            <h1 class = "fs-1 fw-bolder text-center text-info text-muted">EDIT TRANSACTION</h1>
        </div>

        <form id = "add-transaction-form">
            <div class = "bg-light border border-primary border-5 mt-3 mx-5 table-block table-responsive">
                <table class = "align-middle table table-borderless">
                    <thead class = "bg-primary table-fixed table-header text-primary">
                        <th scope = "col" class = "w-50">EDIT TRANSACTION</th>
                        <th scope = "col" class = "w-50">EDIT TRANSACTION</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class = "m-4">
                                    <label for = "edit-transaction-id" class = "form-label fw-bold text-primary">Transaction ID</label>
                                    <input id = "edit-transaction-id" name = "editTransactionId" type = "text" placeholder = "Transaction ID" class = "form-control p-2 rounded-pill" required>

                                    <div id = "edit-transaction-invalid-blank-id" class = "fw-bold invalid-feedback text-center">
                                        Kindly input the Transaction ID
                                    </div>

                                    <div id = "edit-transaction-invalid-id" class = "fw-bold invalid-feedback text-center">
                                        Kindly input a valid and existing Transaction ID
                                    </div>
                                </div>

                                <div class = "m-4">
                                    <label for = "edit-transaction-status" class = "form-label fw-bold text-primary">Transaction Status</label>
                                    <select id = "edit-transaction-status" name = "editTransactionStatus" class = "form-select rounded-pill" required>
                                        <option value = "pending">Pending</option>
                                        <option value = "cancelled">Cancelled</option>
                                        <option value = "completed">Completed</option>
                                    </select>
                                </div>

                                <div class = "m-4">
                                    <label for = "edit-transaction-customer-name" class = "form-label fw-bold text-primary">Customer Name</label>
                                    <input id = "edit-transaction-customer-name" name = "editTransactionCustomerName" type = "text" placeholder = "Customer Name" class = "form-control p-2 rounded-pill" required>

                                    <div id = "edit-transaction-invalid-blank-customer-name" class = "fw-bold invalid-feedback text-center">
                                        Kindly input the customer name
                                    </div>
                                </div>

                                <div class = "m-4">
                                    <label for = "edit-transaction-customer-number" class = "form-label fw-bold text-primary">Customer Phone Number</label>
                                    <input id = "edit-transaction-customer-number" name = "editTransactionCustomerNumber" type = "number" placeholder = "Customer Phone Number" class = "form-control p-2 rounded-pill" required>
                                
                                    <div id = "edit-transaction-invalid-blank-customer-number" class = "fw-bold invalid-feedback text-center">
                                        Kindly input the customer's phone number
                                    </div>
                                    
                                    <div id = "edit-transaction-invalid-customer-number" class = "fw-bold invalid-feedback text-center">
                                        The customer's phone number should only contain 10 integers
                                    </div>
                                </div>

                                <div class = "m-4">
                                    <label for = "edit-transaction-date" class = "form-label fw-bold text-primary">Transaction Date</label>
                                    <input id = "edit-transaction-date" name = "editTransactionDate" type = "date" class = "form-control p-2 rounded-pill" required>

                                    <div id = "edit-delivery-invalid-blank-date" class = "fw-bold invalid-feedback text-center">
                                        Kindly input the transaction date
                                    </div>
                                </div>
                            </td>
                    
                            <td>
                                <div class = "bg-secondary border border-primary border-5 mt-2 me-1 table-responsive">
                                    <table class = "align-middle text-center table table-borderless">
                                        <thead class = "bg-primary table-fixed text-white">
                                            <th scope = "col" class = "w-25">PRODUCT</th>
                                            <th scope = "col" class = "w-25">PRICE (P)</th>
                                            <th scope = "col" class = "w-25">LITERS (L)</th>
                                        </thead>
                                        <tbody class = "fw-bold text-primary">
                                            <tr>
                                                <td>GASOLINE</td>
                                                <td>
                                                    <div class = "d-flex aligns-items-center justify-content-center">
                                                        <input id = "edit-transaction-gasoline-price" name = "editTransactionGasolinePrice" type = "number" placeholder = "-" class = "form-control text-center input-sm w-75">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class = "d-flex aligns-items-center justify-content-center">
                                                        <input id = "edit-transaction-gasoline-liters" name = "editTransactionGasolineLiters" type = "number" placeholder = "-" class = "form-control text-center input-sm w-75">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>  
                                                <td colspan = "3">
                                                    <div id = "edit-transaction-invalid-decimal-gasoline" class = "fw-bold invalid-feedback text-center">
                                                        Price/Liters should have only up to 2 decimal points
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>PREMIUM GASOLINE 95</td>
                                                <td>
                                                    <div class = "d-flex aligns-items-center justify-content-center">
                                                        <input id = "edit-transaction-premium-gasoline-95-price" name = "editTransactionPremiumGasoline95Price" type = "number" placeholder = "-" class = "form-control text-center input-sm w-75">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class = "d-flex aligns-items-center justify-content-center">
                                                        <input id = "edit-transaction-premium-gasoline-95-liters" name = "editTransactionPremiumGasoline95Liters" type = "number" placeholder = "-" class = "form-control text-center input-sm w-75">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>  
                                                <td colspan = "3">
                                                    <div id = "edit-transaction-invalid-decimal-premium-gasoline-95" class = "fw-bold invalid-feedback text-center">
                                                        Price/Liters should have only up to 2 decimal points
                                                    </div>
                                                </td>
                                            </tr>
                                            
                                            <tr>
                                                <td>DIESEL</td>
                                                <td>
                                                    <div class = "d-flex aligns-items-center justify-content-center">
                                                        <input id = "edit-transaction-diesel-price" name = "editTransactionDieselPrice" type = "number" placeholder = "-" class = "form-control text-center input-sm w-75">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class = "d-flex aligns-items-center justify-content-center">
                                                        <input id = "edit-transaction-diesel-liters" name = "editTransactionDieselLiters" type = "number" placeholder = "-" class = "form-control text-center input-sm w-75">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>  
                                                <td colspan = "3">
                                                    <div id = "edit-transaction-invalid-decimal-diesel" class = "fw-bold invalid-feedback text-center">
                                                        Price/Liters should have only up to 2 decimal points
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>PREMIUM GASOLINE 97</td>
                                                <td>
                                                    <div class = "d-flex aligns-items-center justify-content-center">
                                                        <input id = "edit-transaction-premium-gasoline-97-price" name = "editTransactionPremiumGasoline97Price" type = "number" placeholder = "-" class = "form-control text-center input-sm w-75">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class = "d-flex aligns-items-center justify-content-center">
                                                        <input id = "edit-transaction-premium-gasoline-97-liters" name = "editTransactionPremiumGasoline97Liters" type = "number" placeholder = "-" class = "form-control text-center input-sm w-75">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>  
                                                <td colspan = "3">
                                                    <div id = "edit-transaction-invalid-decimal-premium-gasoline-97" class = "fw-bold invalid-feedback text-center">
                                                        Price/Liters should have only up to 2 decimal points
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>KEROSENE</td>
                                                <td>
                                                    <div class = "d-flex aligns-items-center justify-content-center">
                                                        <input id = "edit-transaction-kerosene-price" name = "editTransactionKerosenePrice" type = "number" placeholder = "-" class = "form-control text-center input-sm w-75">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class = "d-flex aligns-items-center justify-content-center">
                                                        <input id = "edit-transaction-kerosene-liters" name = "editTransactionKeroseneLiters" type = "number" placeholder = "-" class = "form-control text-center input-sm w-75">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>  
                                                <td colspan = "3">
                                                    <div id = "edit-transaction-invalid-decimal-kerosene" class = "fw-bold invalid-feedback text-center">
                                                        Price/Liters should have only up to 2 decimal points
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class = "mx-5 my-3"> 
                <a href = "/getTransaction" class = "btn btn-primary fw-bold float-start px-5 rounded-pill shadow-sm text-white">Cancel</a>
                <button id = "confirm-edit-transaction-btn" type = "submit" class = "btn btn-primary fw-bold float-end px-5 rounded-pill shadow-sm text-white">Confirm</button>
            </div> 
        </form>
    </body>
</html>