<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1">
        <title>Edit Account</title>

        <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel = "stylesheet">       
        <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href = "css/style.css" rel = "stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
    </head>
    <body class = "bg-home">
        <nav class = "bg-primary navbar px-3">
            <a href = "/getHome" class = "bungee-font navbar-brand text-warning">POWERZONE</a>
            
            <div class = "d-flex">
                <a href = "/getHome" class = "nav-link text-end text-warning">Home</a>
                <a href = "/getAccount" class = "fw-bold nav-link text-end text-warning">Account</a>
                <a href = "/getLogIn" class = "nav-link text-end text-warning">Log Out</a>
            </div>
        </nav>
        
        <div class = "m-4">
            <h1 class = "fs-1 fw-bolder text-center text-info text-muted">EDIT ACCOUNT</h1>
        </div>


        <form id = "edit-account-form" class = "">
            <div class = "bg-light border border-primary border-5 mt-3 mx-5 table-block table-responsive">
                <div class = "bg-primary mb-4 h-9 row">

                </div>

                <div class = "mt-5 m-4 row">
                    <div class = "col me-5">
                        <label for = "edit-account-email" class = "form-label fw-bold text-primary">Email</label>
                        <input id = "edit-account-email" name = "editAccountEmail" type = "email" placeholder = "Email" class = "form-control p-2 rounded-pill" required>

                        <div id = "edit-invalid-blank-email" class = "invalid-feedback">
                            Kindly input a valid email
                        </div>

                        <div id = "edit-invalid-unique-email" class = "invalid-feedback">
                            Email has been taken
                        </div> 
                    </div>

                    <div class = "col me-5">
                        <label for = "edit-account-role" class = "form-label fw-bold text-primary">Role</label>
                        <input id = "edit-account-role" name = "edit-name" type = "text" placeholder = "Role" class = "form-control p-2 rounded-pill" readonly = "readonly">
                    </div>
                </div>

                <div class = "m-4 row">
                    <div class = "col me-5">
                        <label for = "edit-account-name" class = "form-label fw-bold text-primary">Name</label>
                        <input id = "edit-account-name" name = "edit-name" type = "text" placeholder = "Name" class = "form-control p-2 rounded-pill" required>
                    
                        <div id = "edit-invalid-blank-name" class = "invalid-feedback">
                            Kindly input a name
                        </div>
                    </div>

                    <div class = "col me-5">
                        <label for = "edit-acccount-new-pw" class = "form-label fw-bold text-primary">New Password</label>   
                        <input id = "edit-account-new-pw" name = "editAccountNewPassword" type = "password" placeholder = "Leave to keep current password" class = "form-control p-2 rounded-pill" required>

                        <div id = "edit-invalid-blank-new-pw" class = "invalid-feedback">
                            Kindly input a password
                        </div>
                        
                        <div id = "edit-invalid-length-new-pw" class = "invalid-feedback">
                            Password should at least have 12 characters
                        </div>

                        <div id = "edit-invalid-char-new-pw" class = "invalid-feedback">
                            Password should contain lower case, upper case, numbers and punctations
                        </div>    
                    </div>
                </div>

                <div class = "m-4 row">
                    <div class = "col me-5">
                        <label for = "edit-account-username" class = "form-label fw-bold text-primary">Username</label>
                        <input id = "edit-account-username" name = "editAccountUsername" type = "text" placeholder = "Username" class = "form-control p-2 rounded-pill" required>
                        
                        <div id = "edit-invalid-blank-username" class = "invalid-feedback">
                            Kindly input a username
                        </div>

                        <div id = "edit-invalid-unique-username" class = "invalid-feedback">
                            Username has been taken
                        </div>

                        <div id = "edit-invalid-char-username" class = "invalid-feedback">
                            Username should contain lower case, upper case, numbers and punctations
                        </div>
                    </div>

                    <div class = "col me-5">
                        <label for = "edit-acccount-confirm-pw" class = "form-label fw-bold text-primary">Confirm Password</label>   
                        <input id = "edit-account-confirm-pw" name = "editAccountNewPassword" type = "password" placeholder = "Leave to keep current password" class = "form-control p-2 rounded-pill" required>

                        <div id = "edit-invalid-blank-confirm-pw" class = "invalid-feedback">
                            Kindly input a password
                        </div>
                        
                        <div id = "edit-invalid-length-confirm-pw" class = "invalid-feedback">
                            Password should at least have 12 characters
                        </div>

                        <div id = "edit-invalid-char-confirm-pw" class = "invalid-feedback">
                            Password should contain lower case, upper case, numbers and punctations
                        </div>    
                    </div>
                </div>
            </div>

            <div class = "mx-5 my-3"> 
                <button id = "cancel-edit-account-btn" class = "btn btn-primary fw-bold float-start text-white px-5 shadow-sm"><a href = "/getAccount" class = "text-decoration-none text-white">Cancel</a></button>
                <button id = "confirm-edit-account-btn" type = "submit" class = "btn btn-primary fw-bold float-end text-white px-5 shadow-sm">Confirm</button>
            </div> 
        </form>
    </body>
</html>