<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1">
        <title>Home</title>

        <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel = "stylesheet">       
        <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href = "css/style.css" rel = "stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
    </head>
    <body class = "bg-secondary">
        <nav class = "bg-primary navbar">
            <a href = "/home" class = "navbar-brand text-primary">POWERZONE</a>

            <a href = "/home" class = "nav-link text-primary">Home</a>
            <a href = "" class = "nav-link text-primary">Account</a>
            <a href = "/getLogIn" class = "nav-link text-primary">Log Out</a>
        </nav>

        <div>
            <table class = "table">
                <thead>
                    <tr>
                        <th>GASOLINE</th>
                        <th>PREMIUM GASOLINE 95</th>
                        <th>DIESEL</th>
                        <th>PREMIUM GASOLINE 97</th>
                        <th>KEROSONE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>P 59.039</td>
                        <td>P 59.039</td>
                        <td>P 59.039</td>
                        <td>P 59.039</td>
                        <td>P 59.039</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <button id = "deliveries-btn" class = "btn-primary p-5 w-25">
                <img src = "assets/fast.png" class = "w-50 h-50">
                <p>DELIVERIES</p>
            </button>
            
            <button id = "deliveries-btn" class = "btn-primary p-5 w-25">
                <img src = "assets/transaction.png" class = "w-50 h-50">
                <p>TRANSACTIONS</p>
            </button>

            <button id = "deliveries-btn" class = "btn-primary p-5 w-25">
                <img src = "assets/inventory.png" class = "w-50 h-50">
                <p>INVENTORY</p>
            </button>
        </div>
    </body>
</html>